.o-filemanager-table {
  o-file-input {
    display: none;
  }


  .filemanager-breadcrumb {

    overflow-x: overlay;

    .breadcrumb-root {
      padding: 0 4px;
    }

    .mat-icon,
    .breadcrumb-item {
      cursor: pointer;

      .breadcrumb-item-text {
        margin-right: 12px;
      }
    }

    .breadcrumb-item {
      margin-left: 8px;
    }
  }

  .upload-progress-container {
    position: fixed;
    bottom: 16px;
    left: 0px;
    right: 16px;

    .upload-progress-content {
      padding: 16px;

      span {
        margin-right: 16px;
      }
    }
  }
}
