<div fxLayout="column" [oContextMenu]="tableContextMenu">
  <o-file-input-extended #oFileInput attr="fileUpload" [service-type]="serviceType" max-file-size="10000" multiple="no"
    (onErrorFile)="onUploadError()" (onUploadFile)="onUploadedFile($event)" [workspace-key]="workspaceKey">
  </o-file-input-extended>

  <o-table-extended #oTable attr="filemanager" title="FILES" [service]="service" [service-type]="serviceType" [workspace-key]="workspaceKey"
    [parent-keys]="parentKeys" keys="id" columns="id;name;size;creationDate;directory" visible-columns="directory;name;size;creationDate"
    sort-columns="name" show-table-buttons-text="yes" insert-button="no" refresh-button="no" export-button="no" columns-visibility-button="no"
    pagination-controls="no" query-on-init="no" detail-mode="none" [select-all-checkbox]="selectAllCheckbox"
    (onDoubleClick)="onTableDoubleClick($event)" [query-method]="queryMethod" [delete-method]="deleteMethod" [add-folder-method]="addFolderMethod"
    pageable="no" store-state="no">

    <!-- <o-table-option label="TABLE.BUTTONS.DELETE" *ngIf="oTable.showDeleteButton"></o-table-option> -->

    <o-table-button [label]="uploadLabel" icon="file_upload" (onClick)="onFileUploadClick()"></o-table-button>
    <o-table-button *ngIf="newFolderButton" [label]="newFolderLabel" icon="add" (onClick)="oTable.onAddFolder()"></o-table-button>

    <o-table-option [label]="newFolderLabel" (onClick)="oTable.onAddFolder()"></o-table-option>

    <o-table-column attr="directory" title="" width="40px" resizable="no" orderable="no" searchable="no">
      <o-table-column-renderer-filetype></o-table-column-renderer-filetype>
    </o-table-column>
    <o-table-column attr="name" title="name"></o-table-column>
    <o-table-column attr="size" title="size">
      <o-table-column-renderer-filesize></o-table-column-renderer-filesize>
    </o-table-column>
    <!-- format="LLL" -->
    <o-table-column attr="creationDate" title="creationDate" type="date" format="D/M/YYYY HH:mm:ss"></o-table-column>

    <o-table-context-menu [context-menu]="itemsContextMenu"></o-table-context-menu>
  </o-table-extended>

  <o-context-menu #itemsContextMenu>
    <o-context-menu-item icon="folder_open" [label]="openFolderLabel" [visible]="cmShowOpenOpt.bind(this)" (execute)="onContextOpenFolder($event)">
    </o-context-menu-item>
    <o-context-menu-item icon="file_download" [label]="downloadLabel" (execute)="onContextDownloadFile()"></o-context-menu-item>
    <o-context-menu-item icon="edit" [label]="changeNameLabel" (execute)="onContextChangeName($event)"></o-context-menu-item>
    <o-context-menu-item icon="delete" label="TABLE.BUTTONS.DELETE" (execute)="onContextDelete($event)"></o-context-menu-item>
  </o-context-menu>

  <o-context-menu #tableContextMenu>
    <o-context-menu-item icon="add" [label]="newFolderLabel" (execute)="oTable.onAddFolder()"></o-context-menu-item>
  </o-context-menu>

  <!-- Disable blocker -->
  <div *ngIf="!enabled" class="o-filemanager-table-disabled-blocker"></div>
</div>
