.o-filemanager-table {
  o-file-input-extended {
    display: none;
  }

  .filemanager-breadcrumb {
    overflow-x: overlay;

    .breadcrumb-root {
      margin-left: .5%;
    }

    .breadcrumb-item,
    .mat-icon {
      cursor: pointer;
    }
  }
}
