<span mat-dialog-title>{{ title }}</span>
<mat-dialog-content>
  <mat-form-field class="filename-form-field">
    <input matInput #inputRef [formControl]="filenameFormControl" [(ngModel)]="filename" placeholder="{{ placeholder }}" (keydown)="onKeyDown($event)"
      required>
    <mat-error *ngIf="filenameFormControl.hasError('invalidFileName')">{{ 'VALIDATE.FILENAME.INVALID' | oFileManagerTranslate }}</mat-error>
    <mat-error *ngIf="filenameFormControl.hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="false">{{ 'CANCEL' | oTranslate }}</button>
  <button mat-button [disabled]="inputRef.value.length === 0" (click)="submit()">{{ 'ACCEPT' | oTranslate }}</button>
</mat-dialog-actions>
