<span mat-dialog-title>{{ title }}</span>
<mat-dialog-content>
  <mat-form-field fxFlexFill fxFlex class="vertical-padding-16">
    <input matInput #folderNameRef placeholder="{{ folderName }}">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="false">{{ 'CANCEL' | oTranslate }}</button>
  <button mat-button [disabled]="folderNameRef.value.length === 0" [mat-dialog-close]="folderNameRef.value">{{ 'ACCEPT' | oTranslate }}</button>
</mat-dialog-actions>
