.o-filemanager-table {
  o-file-input {
    display: none;
  }

  .filemanager-breadcrumb {
    overflow-x: overlay;
    .breadcrumb-root {
      padding: 0 4px;
    }

    .mat-icon,
    .breadcrumb-item {
      cursor: pointer;
    }
  }

  .upload-progress-container {
    position: fixed;
    bottom: 16px;
    left: 0px;
    right: 16px;
    .upload-progress-content {
      position: relative;
      .close-icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
      }
      .mat-list {
        padding: 0;
        &.has-close-icon{
          padding-top: 14px;
        }
      }
    }
  }
}
