<div [@containerPosition]="_getContainerState()" [class.opened]="isOpened" class="download-progress-container mat-elevation-z4"
  fxLayout="column" fxLayoutAlign="center center" fxFlex="30">

  <mat-toolbar color="primary" class="download-progress-toolbar">
    <div class="mat-toolbar-tools" fxLayout="row" fxFill fxLayoutAlign="start center">

      <div *ngIf="title" fxLayout="row" fxLayoutAlign="center center">
        <span>{{ title }}</span>
      </div>
      <span class="fill-remaining"></span>

      <button type="button" mat-icon-button (click)="onToggleCollapse()">
        <mat-icon *ngIf="!collapsed">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="collapsed">keyboard_arrow_up</mat-icon>
      </button>

      <button type="button" mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div [class.collapsed]="collapsed" class="download-progress-content" [@contentExpansion]="_getExpandedState()">
    <mat-list fxFlex>
      <mat-list-item *ngFor="let file of files">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="file-data">
          <span class="file-name" [class.downloading]="!file.downloaded" *ngIf="!file.cancelled"> {{ getText(file) }} </span>
          <span class="file-cancelled-text" *ngIf="file.cancelled"> {{ cancelledDownloadText }} </span>

          <span class="fill-remaining"></span>
          <mat-progress-spinner *ngIf="!file.downloaded && !file.cancelled" color="accent" [style.opacity]="file.name !== undefined ? 1 : 0.5"
            mode="indeterminate" class="uploading">
          </mat-progress-spinner>

          <button type="button" mat-icon-button *ngIf="!file.downloaded && !file.cancelled" (click)="onCancelFileDownload(file)">
            <mat-icon>close</mat-icon>
          </button>

          <mat-icon *ngIf="file.downloaded" class="downloaded">check_circle</mat-icon>
          <!-- <mat-icon *ngIf="file.isUploaded && file.isError" class="error">error</mat-icon>  -->
          <mat-icon *ngIf="file.cancelled" class="cancelled">warning</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

</div>
