<div class="upload-progress-container mat-elevation-z4" fxLayout="column" fxLayoutAlign="center center" fxFlex="30">

  <md-toolbar color="primary" class="upload-progress-toolbar">
    <div class="mat-toolbar-tools" fxLayout="row" fxFill fxLayoutAlign="start center">

      <div *ngIf="title" fxLayout="row" fxLayoutAlign="center center">
        <span>{{ title }}</span>
      </div>
      <span class="fill-remaining"></span>

      <button type="button" md-icon-button (click)="onToggleCollapse()">
        <md-icon *ngIf="!collapsed">keyboard_arrow_down</md-icon>
        <md-icon *ngIf="collapsed">keyboard_arrow_up</md-icon>
      </button>

      <button type="button" md-icon-button (click)="onClose()">
        <md-icon>close</md-icon>
      </button>
    </div>
  </md-toolbar>

  <!-- mat-expansion-panel-content -->
  <div [class.collapsed]="collapsed" class="upload-progress-content" [@bodyExpansion]="_getExpandedState()">
    <md-list fxFlex>
      <md-list-item *ngFor="let file of uploaderFiles">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="file-data">
          <span class="file-name" [class.uploading]="file.isUploading"> {{ file.name }} </span>
          <span class="fill-remaining"></span>
          <mat-progress-spinner *ngIf="file.isUploading" color="accent" mode="determinate" [value]="file.progress" class="uploading">
          </mat-progress-spinner>

          <button type="button" md-icon-button *ngIf="file.isUploading" (click)="onCancelFileUpload(file)">
            <md-icon>close</md-icon>
          </button>

          <md-icon *ngIf="file.isUploaded && file.isSuccess" class="uploaded">check_circle</md-icon>
          <md-icon *ngIf="file.isUploaded && file.isError" class="error">error</md-icon>
        </div>
      </md-list-item>
    </md-list>
  </div>

</div>