<div class="expandable-container" [style.display]="isVisible()? '' : 'none'">
  <div class="o-table-container">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="buttons">
        <o-table-button *ngIf="insertButton" (onClick)="add()" label="TABLE.BUTTONS.ADD" icon="add"> </o-table-button>
        <o-table-button *ngIf="refreshButton" (onClick)="reloadData()" label="TABLE.BUTTONS.REFRESH" icon="autorenew"> </o-table-button>
        <ng-content select="o-table-button"></ng-content>
        <o-table-button *ngIf="showDeleteButton" (onClick)="remove()" label="TABLE.BUTTONS.DELETE" icon="delete"></o-table-button>
      </div>
      <span class="fill-remaining"></span>
      <div *ngIf="quickFilter" class="quickFilter" fxLayout="row">
        <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="{{'TABLE.FILTER' | oTranslate}}">
          <span class="icon-btn" matPrefix fxFlexLayout="flex-end">
            <i class="material-icons">search</i>
          </span>
        </mat-form-field>
      </div>
      <ng-container *ngIf="showTableMenuButton">
        <button mat-icon-button class="o-table-menu-button" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" x-position="before" class="o-table-menu">
          <o-table-option *ngIf="selectAllCheckbox" (onClick)="onShowsSelects($event)" label="TABLE.BUTTONS.SELECT" show-active-icon="true">
          </o-table-option>
          <o-table-option *ngIf="exportButton" (onClick)="onExportButtonClicked()" label="TABLE.BUTTONS.EXPORT"> </o-table-option>
          <o-table-option *ngIf="columnsVisibilityButton" (onClick)="onChangeColumnsVisibilityClicked()" label="TABLE.BUTTONS.COLVIS">
          </o-table-option>
          <o-table-option *ngIf="oTableColumnsFilterComponent !== undefined" #columnFilterOption (onClick)="onFilterByColumnClicked()"
            label="TABLE.BUTTONS.FILTER_BY_COLUMN" show-active-icon="true">
          </o-table-option>
          <ng-content select="o-table-option"></ng-content>
        </mat-menu>
      </ng-container>
    </div>

    <!-- FILEMANAGER BREADCRUMB -->
    <div *ngIf="breadcrumbs.length > 0" fxLayout="row" fxFill layout-padding class="filemanager-breadcrumb">
      <mat-icon (click)="onGoToRootFolderClick()" class="breadcrumb-root">home</mat-icon>
      <div *ngFor="let item of breadcrumbs; let i = index" (click)="onBreadcrumbItemClick(item.filter, i)" fxLayout="row" fxLayoutAlign="center center"
        class="breadcrumb-item">
        <mat-icon color="accent">chevron_right</mat-icon>
        <div class="breadcrumb-item-text">{{ item.item.name }}</div>
      </div>
    </div>


    <mat-table #table class="header-fixed" matSort [class]="rowHeight">
      <!--Checkbox Column -->
      <ng-container [cdkColumnDef]="oTableOptions.selectColumn.name" *ngIf="oTableOptions.selectColumn.visible">
        <mat-header-cell *cdkHeaderCellDef>
          <mat-checkbox (change)="masterToggle($event)" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </mat-header-cell>
      </ng-container>

      <!-- Generic column definition -->
      <ng-container *ngFor="let column of oTableOptions.columns" [cdkColumnDef]="column.name">
        <ng-container *ngIf="column.orderable">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [fxFlex]="column.width">
            <mat-icon *ngIf="isColumnFilterable(column)" class="column-filter-icon" [class.active]="isColumnFilterActive(column)" (click)="openColumnFilterDialog(column, $event)">filter_list</mat-icon>
            {{ column.title | oTranslate }}
          </mat-header-cell>
        </ng-container>
        <ng-container *ngIf="!column.orderable">
          <mat-header-cell *cdkHeaderCellDef [fxFlex]="column.width">
            <mat-icon *ngIf="isColumnFilterable(column)" class="column-filter-icon" [class.active]="isColumnFilterActive(column)" (click)="openColumnFilterDialog(column, $event)">filter_list</mat-icon>
            {{ column.title | oTranslate }}
          </mat-header-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="oTableOptions.visibleColumns"></mat-header-row>


    </mat-table>

    <mat-table #table [trackBy]="getTrackByFunction()" [dataSource]="dataSource" matSort [class]="rowHeight" id="tableContent">
      <!--Checkbox Column -->
      <ng-container [cdkColumnDef]="oTableOptions.selectColumn.name" *ngIf="oTableOptions.selectColumn.visible">
        <mat-header-cell *cdkHeaderCellDef>
          <mat-checkbox (change)="masterToggle($event)" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <mat-checkbox name="id[]" (click)="$event.stopPropagation()" (change)="$event ? selectedRow(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Generic column definition -->
      <ng-container *ngFor="let column of oTableOptions.columns" [cdkColumnDef]="column.name">
        <ng-container *ngIf="column.orderable">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [fxFlex]="column.width">
            <mat-icon *ngIf="isColumnFilterable(column)" class="column-filter-icon" [class.active]="isColumnFilterActive(column)" (click)="openColumnFilterDialog(column, $event)">filter_list</mat-icon>
            {{ column.title | oTranslate }}
          </mat-header-cell>
        </ng-container>
        <ng-container *ngIf="!column.orderable">
          <mat-header-cell *cdkHeaderCellDef [fxFlex]="column.width">
            <mat-icon *ngIf="isColumnFilterable(column)" class="column-filter-icon" [class.active]="isColumnFilterActive(column)" (click)="openColumnFilterDialog(column, $event)">filter_list</mat-icon>
            {{ column.title | oTranslate }}
          </mat-header-cell>
        </ng-container>
        <mat-cell *cdkCellDef="let row" [fxFlex]="column.width" [ngClass]="column.className">
          <ng-container *ngIf="!column.renderer">{{ row[column.name] }}</ng-container>
          <ng-template *ngIf="column.renderer" [ngTemplateOutlet]="column.renderer.templateref" [ngTemplateOutletContext]="{cellvalue: row[column.name],rowvalue:row}"></ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="[]" style.display="none"></mat-header-row>

      <mat-row *cdkRowDef="let row; columns: oTableOptions.visibleColumns;" (click)="handleClick(row, $event)" (dblclick)="handleDoubleClick(row, $event)"
        [oContextMenu]="tableContextMenu" [oContextMenuData]="row" [class.selected]="isSelected(row)">
      </mat-row>

    </mat-table>

    <!--TABLE EMPTY-->
    <div class="mat-row o-table-no-results" *ngIf="dataSource !== undefined && dataSource.resultsLength === 0" fxLayoutAlign="center center">
      {{'TABLE.EMPTY' | oTranslate}}
    </div>

    <!--TABLE AGGREGATE-->
    <o-table-aggregate [o-table-options]="oTableOptions" [datasource]="dataSource" *ngIf="showTotals"> </o-table-aggregate>

    <!--LOADING-->
    <div *ngIf="daoTable.isLoadingResults" class="spinner-container">
      <mat-progress-spinner mode="indeterminate" style="margin:0 auto;" *ngIf="daoTable.isLoadingResults"></mat-progress-spinner>
    </div>

    <!--TABLE PAGINATOR-->
    <mat-paginator *ngIf="paginator" #matpaginator [length]="dataSource?.resultsLength" [pageIndex]="paginator.pageIndex" [pageSize]="rowQueryCache || paginator.pageSize"
      [pageSizeOptions]="paginator.pageSizeOptions"></mat-paginator>

  </div>
</div>
